.product-item-img {
    height: 18rem;
    min-width: 10rem;
    display: block;
    background-color: #61dafb;
}

.product-item-chosen-button {
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.card-body {
    min-height: 210px;
    max-height: 210px;
    height: 210px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}

.product-item-chosen-button.chosen {
    color: rgba(250, 162, 0, 0.836)
}

.buttons {
    position: absolute;
    bottom: 0;
    margin: 5px;
}

.cart-card {
    box-sizing: content-box;
    overflow: hidden;

}
.card-title{
    color: blueviolet;
    font-size: 18px;
}